.center {
    text-align: center;
}

.circle {
    border-radius: 150px;
}

.small {
    font-size: 1rem;
}

body {
    margin-top: 7rem;
    margin-bottom: 1rem;
    height: 100%;
}

.face {
    width: 175px;
}

footer {
    text-align: center;
}

@media (min-width: 550px) {
    footer {
        text-align: left;
    }
}

li {
    list-style: none;
}

.job-description {
    font-size: 12px;
}

.body-header {
    color: red;
}

a {
    text-decoration: none;
    color: #222;
    text-decoration: none;
    transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
}

a:hover {
    color:blue;
}

.fa,
.fab,
.fas,
.far {
    margin-right: .5em;
}

@media (min-width: 850px) {
    .one-half-inception.column {
        width: 48%;
    }
}