body {
    background: #282931;
    -webkit-font-smoothing: antialiased;
    font-family: 'Varela Round', sans-serif;
    margin-top: 7rem;
    margin-bottom: 1rem;
    height: 100%;
}

canvas {
    height: 100vh;
    z-index: -10;
    position: fixed;
    top: 0px;
}

.contact-info {
    padding-right: 14px;
    font-size: 24px;
}
.center {
    text-align: center;
}

.circle {
    border-radius: 15px;
}

.small {
    font-size: 1rem;
}

.face {
    width: 550px;
}

.image {
    max-height: 300px;
    max-width: 300px;
    min-height: 150px;
    min-width: 150px;
}

footer {
    text-align: center;
}

@media (min-width: 550px) {
    footer {
        text-align: left;
    }
}

li {
    list-style: none;
}

.job-description {
    font-size: 12px;
    color: white;
}
.project-description {
    font-size: 13px;
}
.body-header {
    color:#F2D7D5;
}

h1 {
    color:#F2D7D5;
}

li {
    color:#e6e6e6;
}
h2, h3, h4, h5, h6 {
    color:white;
    font-weight: bold;
}
span {
    color:#e6e6e6;
}

p {
    color:#e6e6e6;
}

a {
    text-decoration: none;
    color: #e6e6e6;
    text-decoration: none;
    transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
}

a:hover {
    color: #5b1bf0;
}

.fa,
.fab,
.fas,
.far {
    margin-right: .5em;
}

@media (min-width: 850px) {
    .one-half-inception.column {
        width: 48%;
    }
}